.hero-image {
    background: url('assets/images/hero-image2.jpg') center center no-repeat;
    background-size: cover;
}

.bg-color {
    background-color: rgba(0, 0, 0, 0.6);
}

/* NAVBAR */

.navbar {
    font-size: 20px;
}

/* LIST */

ol {
    text-align: center;
    list-style-position: inside;
    padding: inherit;
    display: inline-block;
}

ol>li {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    text-align: left;

}

a:hover {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}



/* FOOTER */
footer {
    width: 100%;
    text-align: center;
    color: #ffff;
    background-color: #484747;
}

@media only screen and (min-width: 400px) {

    .hero-image {
        height: 100vh;
    }

    .bg-color {
        height: 100vh;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}